{% load filters %}
<div class="post no-bg">

    <h2><a href="{{ main_article.get_absolute_url }}">{{ main_article.title }}</a></h2>

    <p class="post-info">Posted by {{main_article.author|user}}</p>

    {{ main_article.body_html|safe }}

    {% if main_article.topic_set %}
    <p class="tags">
        <strong>Topics : </strong>
        {% for topic in main_article.get_topic_set %}
        <a href="{{tobic.get_absolute_url }}">{{topic.name}}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
    </p>
    {% endif %}

    <p class="postmeta">
        <span class="date">{{main_article.created|date:"Y-m-d H:i"}}</span> |
        <span class="date">{{main_article.created|timesince}}</span> |
        <a href="{% url admin:nuntio_article_change main_article.id %}" class="edit">Edit</a>
    </p>
{% if main_article.allow_comments %}
    {% include 'friendconnect/comments.html' %}
{% endif %}
</div>
