<!-- featured starts -->
<div id="featured" class="clear">
{% if object.featured_image %}
    <div class="image-block">
        <img src="{{ object.featured_image.get_absolute_url }}" alt="{{ object.featured_image.name }}" title="{{ object.featured_image.name }}"/>
    </div>
{% endif %}
    <div class="text-block">

        <h2><a href="{{object.get_absolute_url }}">{{ object.title }}</a></h2>

        <p class="post-info">Posted by <a href="index.html">erwin</a>
            | Filed under <a href="index.html">templates</a>, <a href="index.html">internet</a></p>

        {{ object.tease_html|safe }}

    </div>

    <!-- featured ends -->
</div>