<!-- featured starts -->
{% load filters %}        
<div id="featured" class="clear">

        <h2><a href="{{featured_article.get_absolute_url }}">{{ featured_article.title }}</a></h2>

        <p class="post-info">
            Posted by {{featured_article.author|user}}
            {% if featured_article.topic_set %}
                | Filed under
                {% for topic in featured_article.get_topic_set %}
                    <a href="{{topic.get_absolute_url }}">{{topic.name}}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
            {% endif %}
        </p>

        {{ featured_article.tease_html|safe }}


    <!-- featured ends -->
</div>