{% extends "School/base.html" %}
{%block content %}

        
	<div class="span-12">
        <h1>Twój plan zajęć</h1>
        <div class="plan-lekcji">
            <div class="span-3">08:00 - 08:45</div>
            <div class="span-8">Matematyka (Jan Kowalski)</div>
            <div class="span-9 prepend-3">SEM 5 (20/30) Klasa 1B</div>
        </div>
        <div class="plan-lekcji">
            <div class="span-3">08:00 - 08:45</div>
            <div class="span-8">Matematyka (Jan Kowalski)</div>
            <div class="span-9 prepend-3">SEM 5 (20/30) Klasa 1B</div>
        </div>
        <div class="plan-lekcji">
            <div class="span-3">08:00 - 08:45</div>
            <div class="span-8">Matematyka (Jan Kowalski)</div>
            <div class="span-9 prepend-3">SEM 5 (20/30) Klasa 1B</div>
        </div>
        <div class="plan-lekcji">
            <div class="span-3">08:00 - 08:45</div>
            <div class="span-8">Matematyka (Jan Kowalski)</div>
            <div class="span-9 prepend-3">SEM 5 (20/30) Klasa 1B</div>
        </div>
        <div class="plan-lekcji">
            <div class="span-3">08:00 - 08:45</div>
            <div class="span-8">Matematyka (Jan Kowalski)</div>
            <div class="span-9 prepend-3">SEM 5 (20/30) Klasa 1B</div>
        </div>
	</div>
	<div class="span-12 last">
		<h2>Matematyka: SEM 5, lekcja 21 z 30</h2>
		<h3>Temat: Twierdzeie pitagorasa</h3>
            <p>Na tej lekcji nauczymy się</p>
            <ul>
                <li>Kim był Pitagoras</li>
                <li>Wyliczać długość boku..</li>
            </ul>
		<h3>Notatki</h3>
        <p>Przepytać nowaka</p>
	</div>

{%endblock %}        
