{% extends 'nuntio/base.html' %}
{% block title %}{% if object.article %}{{object.article.title}}{% else %}{{object.name}}{% endif %}{% endblock %}
{% block featured %}
{% if page.article %}
        {% with page.article as object %}
            {% include 'article/featured.html' %}
        {% endwith %}
{% endif %}        
{% endblock featured %}
{% block article %}
    {% for object in page.get_article_set %}        
        {% include 'article/tease.html' %}
    {% endfor %}
{% endblock article %}